@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
    font-family: 'PP-Eiko';
    src: url('../dist/font/PPEiko-Regular.woff2') format('woff2'), url("../dist/font/PPEiko-Regular.woff") format("woff");
}

@font-face{
    font-family: 'Untitled-Sans';
    src: url('../dist/font/UntitledSans-Regular.woff2') format('woff2'), url("../dist/font/UntitledSans-Regular.woff") format("woff");
}